
/* BASIC */

html
{
   width: 100%;
   height: 100%;
   margin:0;
   padding:0;
   background: #f0f4f5;
}

body
{
   height: 100vh;
   color: #959da6;
   font-family: "Lato";
   line-height: 165%;
   font-size: 1em;
}

header
{
   text-align:right;
}

header > p:first-child
{
   font-size: 2em;
   padding:0;
   margin:0;
}

#login
{
   font-size: 1.5em;
   padding:0;
   margin:0;
}

header span
{
   font-weight: bold;
}

#newPost, #welcomePage
{
   font-size: 1.5em;
   padding-bottom:15px;
   margin:0;
}

h1 
{
   color: #1a1a1a;
   font-size: 1.75em;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   margin-top: 0;
   line-height: 130%;
}

a 
{
   color: #cc2929;
   display: inline-block;
   text-decoration: none;
   font-weight: 400;
}

a:hover
{
   text-decoration: underline;
}

.posts 
{
   width: 1300px;
   height:1000px;
   margin: auto;
}

.post 
{
   float:left;
   background: #fff;
   width: 400px;
   height:450px;
   margin: 15px;
   text-align:center;
}

.post:hover 
{
   box-shadow: 0 10px 20px 5px rgba(1, 1, 1, 0.1);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   transition: box-shadow 300ms, transform 300ms;
   z-index: 1;
}

.post .picture 
{
   color: white;
   height: 100px;
   width:100%;
}

.title 
{
   color: black;
   display: inline-block;
   font-size: 2em;
   font-weight: 700;
   text-decoration: none;
   margin-top:7px;
}

.post .content 
{
   background: #ffffff;
   -webkit-box-shadow: 0 2px 1px 1px rgba(1, 1, 1, 0.05);
   box-shadow: 0 2px 1px 1px rgba(1, 1, 1, 0.05);
}

.post .content .header
{
   height:80px;
   overflow:auto;
   margin-bottom: 40px;
   text-align:justify;
   width:85%;
   margin-left:auto;
   margin-right:auto;
   padding-right:10px;
}

p > a
{
   font-size:1.1em;
   font-weight: bold;
}

.post .postMeta 
{
   font-size: 0.8em;
}

*:focus 
{
   outline: none;
}

* 
{
   box-sizing: border-box;
}

.pagination
{
   font-size:3em;
   text-align:center;
}

#editDelete
{
   font-size:1.5em;
}

.form 
{
   margin-top:100px;
   margin:auto;
   padding:20px;
   width:40%;
   background: #fff;
}

.new_post form, .edit_post form, .new_user form 
{
   border-color:#dfdfdf;
   border-width:1px;
   border-style:solid;
   padding:4.5%;
   display:block;
   position:relative;
   box-shadow:1px 3px 3px rgba(0,0,0,0.1);
   background:white
}

.new_post label, .edit_post label, .new_user label 
{
   color:#888;
   font-family:helvetica;
   text-transform:uppercase;
   font-size:0.9em;
}

.new_post input[type='text'], .edit_post input[type='text'], .new_user input[type='text'] 
{
   display:block;
   margin-bottom:20px;
   width:100%;
   box-sizing:border-box;
   border-width:0 0 2px 0;
   border-color:#f1f1f1;
   background:#f9f9f9;
   outline:none;
   padding:15px 0 15px 10px;
   font-size:15px;
   transition: all ease-in-out .3s;
}

.new_post input[type='text'] .error, .edit_post input[type='text'] .error, .new_user input[type='text'] .error 
{
   border-color:red;
   background:lighten(red,45%);
}
  
.new_post input[type='text']:hover, .edit_post input[type='text']:hover, .new_user input[type='text']:hover 
{
   border-color:#e1e1e1;
   background:#f1f1f1;
}
  
.new_post input[type='text']:focus, .edit_post input[type='text']:focus, .new_user input[type='text']:focus 
{
   background: lighten(#30c3c0,45%);
   border-color:#30c3c0;
}

.new_post input[type=submit], .edit_post input[type=submit], .new_user input[type=submit] 
{
   border-width:0;
   background:#cc2929;
   color:white;
   text-transform:uppercase;
   padding:12px 24px;
   font-size:14px;
   outline:none;
   outline:0px;
   letter-spacing:1px;
   transition: all ease-in-out .2s;
}

.new_post input[type=submit]:hover, .edit_post input[type=submit]:hover, .new_user input[type=submit]:hover 
{
   background: darken(#cc2929,5%);
   box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
   cursor:pointer;
}

.new_user input[type='email'] 
{
   display:block;
   margin-bottom:20px;
   width:100%;
   box-sizing:border-box;
   border-width:0 0 2px 0;
   border-color:#f1f1f1;
   background:#f9f9f9;
   outline:none;
   padding:15px 0 15px 10px;
   font-size:15px;
   transition: all ease-in-out .3s;
}

.new_user input[type='email'] .error 
{
   border-color:red;
   background:lighten(red,45%);
}
  
.new_user input[type='email']:hover 
{
   border-color:#e1e1e1;
   background:#f1f1f1;
}
  
.new_user input[type='email']:focus 
{
   background: lighten(#30c3c0,45%);
   border-color:#30c3c0;
}

.new_user input[type='password'] .error 
{
   border-color:red;
   background:lighten(red,45%);
}
  
.new_user input[type='password']:hover 
{
   border-color:#e1e1e1;
   background:#f1f1f1;
}
  
.new_user input[type='password']:focus 
{
   background: lighten(#30c3c0,45%);
   border-color:#30c3c0;
}

.new_user input[type='password'] 
{
   display:block;
   margin-bottom:20px;
   width:100%;
   box-sizing:border-box;
   border-width:0 0 2px 0;
   border-color:#f1f1f1;
   background:#f9f9f9;
   outline:none;
   padding:15px 0 15px 10px;
   font-size:15px;
   transition: all ease-in-out .3s;
}

.new_user input[type='number'] .error 
{
   border-color:red;
   background:lighten(red,45%);
}
  
.new_user input[type='number']:hover 
{
   border-color:#e1e1e1;
   background:#f1f1f1;
}
  
.new_user input[type='number']:focus 
{
   background: lighten(#30c3c0,45%);
   border-color:#30c3c0;
}

.new_user input[type='number'] 
{
   display:block;
   margin-bottom:20px;
   width:100%;
   box-sizing:border-box;
   border-width:0 0 2px 0;
   border-color:#f1f1f1;
   background:#f9f9f9;
   outline:none;
   padding:15px 0 15px 10px;
   font-size:15px;
   transition: all ease-in-out .3s;
}

.userForm
{
  margin-top:10px;
  padding:20px;
  width:40%;
  background: #fff;
}

.postShow
{
	margin:auto;
	width:85%;
	background: #fff;
	padding:60px;
}

.postShow .content
{
	font-size:1.7em;
	text-align: justify;
    text-justify: inter-word;
}

.postShow .content .header
{
	font-style: italic;
}

#presentation
{
	font-size: 1.2em;
}